<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Readit web</title>
    <link rel="stylesheet" href="./static/css/index.css" />
  </head>
  <body>
    <div class="content">
      <h1>readit.</h1>
      <div class="form">
        <form action="article">
          <input type="url" placeholder="URL" name="url" />
          <button type="submit">→</button>
        </form>
      </div>
    </div>
  </body>
</html>
